table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 24px;
}

.searchWrapper {
    width: 100%;
    justify-content: end;
    display: flex;
}

input {
    height: 28px;
}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.wrapper{
    padding: 12px;
}

.pagination {
    padding-top: 24px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: red;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}