.Dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.DialogItems {
  text-decoration: none;
  padding: 10px;
  color: cornflowerblue;
}
.DialogItems a {
  text-decoration: none;
  color: rebeccapurple;
}

.Dialog {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.Dialog img {
  width: 30px;
}

.Massages {
  padding: 10px;
}

.Massage {
}
